@font-face {
font-family: 'Thirsty Script Bold';
src: url('../fonts/ThirstyScriptBold.eot');
src: url('../fonts/ThirstyScriptBold.eot?#iefix') format('embedded-opentype'),
url('../fonts/ThirstyScriptBold.woff') format('woff'),
url('../fonts/ThirstyScriptBold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
font-display: swap;
}
