.footer
  //background-color: $color-bg
  //background: url('../img/footer-bg2.jpg') no-repeat
  //background-position: right center
  //background-size: contain
  position: relative
  &__contacts
    font-size: 22px
    display: block
    margin-bottom: 5px
    color: $color-text
  &__tag
    border-bottom: 1px solid $color-main
    margin: 0
    margin-bottom: 5px
    font-size: 24px
    color: $color-text
  &__copyright
    background: $color-bg
    color: $color-text
    height: 60px
    line-height: 60px
    display: block
    font-size: 16px
    text-align: center
    align-items: center
.container-footer
  background: #ffffff
  box-shadow: 0 0 15px 5px $color-shadow
  padding: 30px
  position: absolute
  height: 140px
  width: 100%
  left: 10px
  top: 50%
  margin-top: -70px
  z-index: 1
  max-width: 330px
  display: flex
  flex-direction: column
  bottom: 5%
  


  
iframe
  //position: absolute
  width: 100%
  filter: grayscale(100%)

@media (max-width: 990px)
    padding: 15px
@media (max-width: 546px)
  .container-footer
    margin-top: 50px
    height: 100px
    width: 240px
  .footer
    &__contacts
      font-size: 18px
    &__tag
      font-size: 20px
    &__copyright
      height: 40px
      line-height: 40px