.goods
  background-color: #000000
  background: url('../img/goods/goods-bg.jpg') no-repeat
  background-size: cover
  background-position: right top
  &-wrap 
    position: relative
    margin-top: 70px
    margin-bottom: 40px
  &-slider
    display: flex
    justify-content: space-between
    //max-width: 900px
.slider
  &-item
    display: flex
    flex-direction: column
    justify-content: center
    text-align: center
    align-items: center
    //flex-basis: 30%
    height: 680px
    max-width: 320px
    margin: 0 
    //box-shadow: 0 0 10px 3px $color-shadow
    background: #ffffffd6 
    position: relative
    opacity: 0.95
    transform: scale(1)
    transition: 0.2s
    &__img  
      width: 100%
      height: auto
      display: block
      overflow: hidden
    &__title  
      padding: 0 5px
      color: $color-text
      font-size: 23px
      margin-top: 15px
      margin-bottom: 10px
    &__description
      color: $color-text
      display: block
      font-size: 18px
      padding-bottom: 10px
      max-width: 90%
      margin-left: auto
      margin-right: auto
    &__tag
      display: block
      font-size: 18px
      color: $color-text
      padding-bottom: 7px
      //text-transform: uppercase
      font-weight: 700
      position: relative
      &:before
        content: ''
        display: block
        height: 2px
        width: 12%
        position: absolute
        bottom: 5px
        left: 44%
        right: 44%
        background: $color-main
    &__button
      width: 90%
      font-size: 24px
      margin-top: auto
      margin-bottom: 15px
      position: absolute
      bottom: 0
      left: 5%
  &-arrows i
    display: block
    font-size: 44px
    color: $color-textLight
    cursor: pointer
    border-radius: 100%
    &:first-child
      position: absolute
      bottom: 48%
      left: 0
      z-index: 99
    &:last-child
      position: absolute
      bottom: 48%
      right: -10px
      z-index: 99

    
@media (max-width: 1200px)
  .slider
    justify-content: space-around
@media (max-width: 990px)
  .slider
    &-item
      margin: 0
      box-shadow: none
      &__title
        font-size: 20px
      &__description
        font-size: 16px
      &__tag
        font-size: 18px
      &__button
        font-size: 20px