.header
  background: url('../img/header/logo.png') no-repeat
  background-color: $color-bg
  background-size: contain
  background-position: center center
  padding-top: 20px
  padding-bottom: 30px
  &-wrap 
    //height: 100px
    display: flex
    justify-content: space-between
    align-items: center
  &-logo
    flex-basis: 30%
    &__title
      font-family: Thirsty Script Bold;
      display: block
      margin: 0
      font-size: 34px
  &-nav
    flex-basis: 70%
    display: flex
    justify-content: flex-end
    &__item
      position: relative
      text-decoration: none 
      color: $color-text
      margin-left: 50px
      font-size: 18px
      &:before
        content: ''
        display: block
        bottom: 2px
        left: 0
        position: absolute
        height: 2px
        width: 0
        background: $color-main


//  Адаптив
@media (max-width: 990px)
  .header
    &-logo
      &__title
        font-size: 28px
    &-nav 
      &__item
        font-size: 16px
@media (max-width: 768px)
  .header-nav
    display: none