.offer
  background: #fafafa
  &__title
    margin-bottom: 50px
    text-transform: uppercase
  &-wrap
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-bottom: 50px
  &-item
    display: block
    margin-bottom: 30px
    flex-basis: 50%
    //text-align: center
    &__text
      display: block
      font-size: 34px
      max-width: 380px
      margin-left: auto
      margin-right: auto
      position: relative
      & i
        margin-right: 10px
        font-size: 32px
      &:before
        content: ''
        position: absolute
        height: 3px
        width: 100%
        bottom: -10px
        display: block
        background: $color-main

@media (max-width: 990px)
  .offer-item
    flex-basis: 100%
    margin-bottom: 50px
@media (max-width: 768px)
  .offer-item
    flex-basis: 100%
    text-align: center
@media (max-width: 546px)
  .offerr-item
    &__text
      font-size: 20px
      & i 
        font-size: 24px

